@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

body {
  background-image: url('./assets/images/background.webp');
  background-position: center;
  background-size: cover;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  padding: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
  margin: 1rem;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Rubik";
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: max(60%, 750px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;

  input,
  button {
    font-family: inherit;
  }

  input {
    background-color: #1f2a37;
    color: white;
    border: 1px solid #4b5663;
    border-radius: 4px;
    box-shadow: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .5rem 1rem;
  }

  input:focus {
    border-color: palevioletred;
    box-shadow: 0, inset 0 0 2px hsla(0, 0%, 100%, .95);
    outline: transparent;
  }

  button {
    background-color: palevioletred;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
    border: 1px solid palevioletred;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    box-shadow: 0 1px 1px rgba(18, 21, 26, .075);
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-image: none;
  }
}


.main-container {
  padding: 1.5rem;
  padding-right: 2.5rem;

  .today-highlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    div:has(>img) {
      display: flex;
    }

    img {
      align-self: flex-start;
      height: 4rem;
    }

    div:has(>.temp, >.feels-like) {
      display: flex;
    }

    .temp {
      font-weight: 500;
      font-size: 4rem;
      margin: 0;
    }

    .feels-like {
      align-self: flex-end;
      padding-left: 10px;
      color: #9ca3af;
    }

    .brief {
      color: #9ca3af;
      margin-top: 0;
    }

    div:has(>.min, >.max) {
      display: flex;
      align-items: center;
      gap: 1.5rem;


      svg {
        width: 2rem;
        height: 2rem;
      }

      >div {
        display: flex;
        align-items: center;
        gap: .5rem;

        p:first-child {
          margin: 0;
          color: #9ca3af;
        }

        p:last-child {
          margin: 0;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }

  .today-details {
    display: flex;
    justify-content: space-around;

    >div {
      display: flex;
      gap: .5rem;

      svg {
        width: 1.5rem;
        fill: white;
      }

      p {
        margin: 5px;
      }

      p:first-child {
        color: #9ca3af;
      }

      p:last-child {
        font-size: 1.1rem;
      }
    }
  }
}

.hourly {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;

  .hour {
    &:not(&:first-child) {
      border-left: 1px solid hsla(0, 0%, 100%, .1);
    }

    img {
      height: 48px;
    }

    p {
      margin: 0;
    }

    p:first-child {
      font-weight: 500;
    }

    p:last-child {
      color: #9ca3af;
      font-size: .95rem;
    }
  }
}

.week {
  display: flex;
  gap: 1rem;

  >div {
    flex: 1;
  }

  .day {

    >div:first-child {
      display: flex;
      gap: .3rem;

      img {
        height: 50px;
      }

      .temp {
        font-weight: 500;
        font-size: 2rem;
        margin: 0;
      }

      .brief {
        color: #9ca3af;
        font-size: .95rem;
        margin: 0;
      }
    }

    .date {
      padding-left: 1rem;
    }
  }

  .extra-info {
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;

    svg {
      fill: white;
      width: 1.5rem;
    }

    >div {
      display: flex;
      gap: .3rem;

      p:first-child {
        color: #9ca3af;
        font-size: .95rem;
      }

      p {
        margin: 5px;
      }
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}